.table-responsive {
    min-height: 550px;
    // @media screen and (min-width: 768px) {
    //     margin-bottom: 0px;
    // }
    .table {
        border: 1px solid#ddd;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        margin-bottom: 0px;
        .fa-sort {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}